<a href="https://colab.research.google.com/github/himanshu-0611/DataAnalysis-GurgaonHotelACsCaseStudy/blob/main/DataAnalysis-GurgaonHotelACsCaseStudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Zenatix Solutions | Gurgaon Hotel ACs Case Study**

## **Author: Himanshu Agarkar**

### *Domain: Data Analysis*

In [ ]:
#importing requited libraries

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

#### **Step 1: Reading the data from source**

In [ ]:
#mounting drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#reading the data from csv file

path = "/content/drive/MyDrive/AC_Data.csv"
df = pd.read_csv(path)

#dataset is now stored in pandas dataframe

df

                         0      AC 1      AC 2  ...     AC 16     AC 17     AC 18
0      2019-08-01 00:00:00  7.518632  8.788315  ...  4.113460  3.305072  6.735981
1      2019-08-01 00:01:00       NaN       NaN  ...       NaN       NaN       NaN
2      2019-08-01 00:02:00  7.426114  8.940615  ...  3.986483  3.220588  6.379500
3      2019-08-01 00:03:00       NaN       NaN  ...       NaN       NaN       NaN
4      2019-08-01 00:04:00  7.052986  9.161103  ...  3.797881  3.131560  6.363475
...                    ...       ...       ...  ...       ...       ...       ...
87835  2019-09-30 23:55:00  0.000000  6.122385  ...  1.854352  3.027539  7.259989
87836  2019-09-30 23:56:00       NaN       NaN  ...       NaN       NaN       NaN
87837  2019-09-30 23:57:00  1.209176  6.152532  ...  1.870886  2.991946  7.134647
87838  2019-09-30 23:58:00       NaN       NaN  ...       NaN       NaN       NaN
87839  2019-09-30 23:59:00  1.430442  6.078281  ...  1.862166  3.009434  7.179719

[87840 rows x 19 columns]

In [ ]:
#finding total numbers of elements in dataframe
df.size

1668960

In [ ]:
#representing dimensionality of data frame
df.shape

(87840, 19)

In [ ]:
#detecting missing values
df.isnull().sum()

0            0
AC 1     44132
AC 2     44129
AC 3     44127
AC 4     44136
AC 5     44124
AC 6     44123
AC 7     44161
AC 8     44136
AC 9     44186
AC 10    44150
AC 11    44170
AC 12    44127
AC 13    44121
AC 14    44144
AC 15    44125
AC 16    44130
AC 17    44126
AC 18    44117
dtype: int64

In [ ]:
#printing consise summary of a data frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87840 entries, 0 to 87839
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       87840 non-null  object
 1   AC 1    43708 non-null  float64
 2   AC 2    43711 non-null  float64
 3   AC 3    43713 non-null  float64
 4   AC 4    43704 non-null  float64
 5   AC 5    43716 non-null  float64
 6   AC 6    43717 non-null  float64
 7   AC 7    43679 non-null  float64
 8   AC 8    43704 non-null  float64
 9   AC 9    43654 non-null  float64
 10  AC 10   43690 non-null  float64
 11  AC 11   43670 non-null  float64
 12  AC 12   43713 non-null  float64
 13  AC 13   43719 non-null  float64
 14  AC 14   43696 non-null  float64
 15  AC 15   43715 non-null  float64
 16  AC 16   43710 non-null  float64
 17  AC 17   43714 non-null  float64
 18  AC 18   43723 non-null  float64
dtypes: float64(18), object(1)
memory usage: 12.7+ MB

In [ ]:
#generate descriptive statistics
df.describe()

               AC 1          AC 2  ...         AC 17         AC 18
count  43708.000000  43711.000000  ...  43714.000000  43723.000000
mean       2.379368      3.868892  ...      4.218979      6.462676
std        2.276782      2.545147  ...      1.125491      2.319242
min        0.000000      0.000000  ...      0.000000      0.000000
25%        0.000000      2.123263  ...      3.752478      4.013579
50%        2.094330      3.791752  ...      4.611434      7.131194
75%        3.661752      5.460892  ...      4.958306      8.314639
max       11.194789     11.147141  ...      5.950261     11.040031

[8 rows x 18 columns]

**AC which was Used the Most & the Least**

In [ ]:
#summation of all the elements of each column
df.sum(axis = 0)

0        2019-08-01 00:00:002019-08-01 00:01:002019-08-...
AC 1                                                103997
AC 2                                                169113
AC 3                                                112273
AC 4                                                104678
AC 5                                                 62151
AC 6                                                110085
AC 7                                                130202
AC 8                                                111389
AC 9                                                139011
AC 10                                              67210.2
AC 11                                               105076
AC 12                                               118009
AC 13                                               187113
AC 14                                               127467
AC 15                                               176883
AC 16                                               122390
AC 17                                               184428
AC 18                                               282568
dtype: object

In [ ]:
#finding out mean of each column repectively
df.mean(axis = 0)

AC 1     2.379368
AC 2     3.868892
AC 3     2.568411
AC 4     2.395158
AC 5     1.421699
AC 6     2.518138
AC 7     2.980883
AC 8     2.548711
AC 9     3.184382
AC 10    1.538344
AC 11    2.406141
AC 12    2.699639
AC 13    4.279893
AC 14    2.917122
AC 15    4.046283
AC 16    2.800050
AC 17    4.218979
AC 18    6.462676
dtype: float64

In [ ]:
#the AC with lowest usage
df.mean(axis = 0).idxmin()

'AC 5'

**The AC with lowest mean with will have lowest usage and that with highest mean will have highest.**<br>Thus, using

```
df.mean(axis = 0).idxmin()
```
We can print the AC with lowest usage: **AC 5**.<br>
Further observing, we can say that the AC with highest usage is **AC 18**

#### **Step 2: Importing a Different Dataframe into our Notebook** <br>
Link to the dataframe: https://www.kaggle.com/sudalairajkumar/daily-temperature-of-major-cities

In [ ]:
#install Kaggle
!pip install -q kaggle

In [ ]:
from google.colab import files
files.upload()

In [ ]:
#create a kaggle folder
! mkdir ~/.kaggle

In [ ]:
#copy the kaggle.jason to folder create
! cp kaggle.json ~/.kaggle/

In [ ]:
#permission for the json to act
! chmod 600 ~/.kaggle/kaggle.jason

chmod: cannot access '/root/.kaggle/kaggle.jason': No such file or directory

In [ ]:
#to list all dataset in kaggle
!kaggle datasets list

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              237KB  2021-12-12 11:59:54          17709
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01          10556
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           5214
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-10-22 10:48:21           3804
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           2974
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           2112
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           1810
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37           1163
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            549
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47           1087
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            260
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            246
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            169
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            201
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         161260
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         150852
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          31097
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          26271
rtatman/188-million-us-wildfires                            1.88 Million US Wildfires                         168MB  2020-05-12 21:03:49          18310
jpmiller/publicassistance                                   US Public Food Assistance                         703KB  2020-08-21 16:51:18          15012

In [ ]:
!kaggle datasets download -d sudalairajkumar/daily-temperature-of-major-cities

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading daily-temperature-of-major-cities.zip to /content
 70% 9.00M/12.9M [00:00<00:00, 89.0MB/s]
100% 12.9M/12.9M [00:00<00:00, 82.6MB/s]

In [ ]:
!unzip daily-temperature-of-major-cities.zip

Archive:  daily-temperature-of-major-cities.zip
  inflating: city_temperature.csv

**PS.**<br>
• This was my first hands on with data analysis, and I gave my best for the same. One of the tasks given was we have to fetch the data (temperature values) from another website and add it to given data set as a new column.<br><br>
•I tried my best to complete the given task, in this process I got to know about ***Web Scraping*** and ***beautifulsoup***. I got a temperature values dataset from ***Kaggle*** but even after spending time on learning web scraping, I didn't understand how to import particular column from another website to our dataset. But I tried my best for the same.<br><br>
• Then I tried importing whole Kaggle dataset directly to my dataset. But now I don't have more time to work on it as today is the deadline.<br><br>
• I have spent 24+ hours on this and till this much I have completed. I am sure that if I get to be a part of this internship I'll give my best and most importantly I'll get to learn alot.